<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="DatabaseServer" value="sql" />
    <add key="DatabaseName" value="CRONUS" />
    <add key="DatabaseUserName" value="sa" />
    <add key="DatabasePassword" value="${SA_PASSWORD}" />
    <add key="ServerInstance" value="BC" />
    <add key="ManagementServicesEnabled" value="false" />
    <add key="ManagementApiServicesEnabled" value="false" />
    <add key="ClientServicesEnabled" value="true" />
    <add key="DeveloperServicesEnabled" value="true" />
    <add key="SOAPServicesEnabled" value="true" />
    <add key="ODataServicesEnabled" value="true" />
    <add key="ODataServicesV4EndpointEnabled" value="true" />
    <add key="ApiServicesEnabled" value="true" />
</appSettings>
